<script type="text/javascript">
    $(document).ready(function() {
        $('.persianumber').persiaNumber();
    });

</script>

<script src="/tablePaging.js" type="text/javascript"></script>
<script>
    var objCal1 = new AMIB.persianCalendar('pcal1');
</script>

    <script type="text/javascript" src="pdate.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/script.js" type="text/javascript"></script>
<script type="text/javascript">
	AMIB.showPDate( 'pdate1' );
</script>

</body>

</html>
