<% include ./partials/header %>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="#"><img src="/logo.png" style="height:25px"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/products">محصولات <span class="sr-only">(current)</span></a></li>
                    <li><a href="/aboutus">درباره ما</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/authenticate">ورود</a></li>
                    <li><a href="/authenticate/new">ثبت نام</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
        <div class="container" style="text-align: justify; text-justify: inter-word;">
            <h6>
            بسمه تعالی
شرکت سرزمین یخی پارسیان با نام تجاری<em> تندیس</em> پس از احداث واحد تولیدی خود در سال 1393 واقع در شهرک صنعتی خوارزمی در محدوده 40 کیلومتری تهران در سال 1394 موفق به اخذ کلیه مجوزهای لازم از سازمان غذا و دارو و استاندارد و همچنین سازمان صنایع و معادن گردید و فعالیت خود را از سال 1395 آغاز کرد و پس از گذشت یک سال به دلیل موفقیت در تولید محصولات با کیفیت و روند رو به رشد تقاضا تصمیم به افزایش ظرفیت تولید و کار با فروشگاه های معتبر بستنی گرفت.
هم اکنون شرکت تندیس مفتخر است با بهره گیری از پیشرفته ترین ماشین آلات و با کیفیت ترین مواد اولیه و با تکیه بر دانش نوین تولید بستنی در دنیا با سربلندی تولید محصولات خود را با بیش از 60 طمع ادامه دهد.
همچنین این شرکت در نظر دارد با ارائه محصولات با کیفیت تر و با صرفه اقتصادی بیشتر برای مصرف کنندگان جایگاه خود را در بازار رقابتی ایران پیدا کند.
            </h6>
</div>

    <% include ./partials/footer %>
