<% include ./partials/header %>
<% include ./partials/navbar1 %>

    <div class="container" style="position:relative; top:100px">
        <div class="row">
            <div class="col-xs-12">
                <form action="/login" method="post" class="form-group">
                    <input class="form-control" style="margin-bottom:5px" type="text" name="username" placeholder="نام مشتری">
                    <input class="form-control" style="margin-bottom:5px" type="password" name="password" placeholder="رمز عبور">
                    <input class="form-control btn btn-success" type="submit">
                </form>
                <hr>
<p><span> در سایت تندیس ثبت نام نکرده اید؟ </span><a href="/register">ثبت نام در سامانه سفارش آنلاین بستنی تندیس</a></p>
            </div>
        </div>
    </div>
    <% include ./partials/footer %>
